.card-img-top {
  filter: brightness(0.8);
  max-height: 144px;
}

.card-noticia {
  height: 17rem;
}

.card-text {
  padding: 0.25rem;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
}

.titulo-noticia {
  z-index: 100;
  margin-top: -5rem;
  background-color:rgba(0, 0, 0, 0.5);
  color:#fff;text-align:center;
}

.fecha-noticia {
  border-left: 5px solid rgba(33, 37, 41, 0.3);
}

.info-box:hover,.info-box:focus,.info-box:active {
  background-color: #6c757d !important;
}